<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsc.mapper.AccountMapper">
    <insert id="save" parameterType="account">
        INSERT INTO account VALUES (#{id},#{name},#{money})
    </insert>

    <select id="findAll"  resultType="account">
        SELECT *FROM account
    </select>
</mapper>
 