@charset "utf-8";
body{margin:0px 0px 0px 0px;font-size:14px;font-family:arial;color:#000;background:#fff;}
select,input,textarea{font-family:arial;font-size:12px;vertical-align:middle;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;}
ul{list-style:none;}
img{border:0px;}
em{font-style:normal;}
/* link */
a:link{color:#023a69;text-decoration:none;}
a:visited{color:#023a69;text-decoration:none;}
a:hover{color:#197cce;text-decoration:underline;}
a:active{color:#023a69;}
a {color: blue;font-size: 12px;text-decoration: none}
table th {font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #4f6b72; border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; border-top: 1px solid #C1DAD7; letter-spacing: 2px; text-transform: uppercase; text-align:left; padding: 1px 1px 1px 1px; background: #CAE8EA ; }
html>body td {font-size: 12px;}
body,td,th {font-family: 宋体, Arial;font-size: 12px;}

/* nav begin */
.admin_memu{padding:11px 0;}
#nav{margin:0 9px;}
#nav li{margin-bottom:10px;}
#nav li a.parent:link,#nav li a.parent:visited{display:block;line-height:22px;height:22px;border:1px #b6bdd0 solid;padding:2px;color:#fff;text-decoration:none;text-align:left;}
#nav li a h5{font-size:14px;padding-left:12px;background: repeat-x;}

#nav li ul.child_area li{margin-bottom:0px;border:1px #b6bdd0 solid;border-top:0;}
#nav li ul.child_area li h6{text-align:left;padding-left:30px;font-size:12px;background: 13px 6px no-repeat;}
#nav li ul.child_area li.last h6{text-align:left;padding-left:30px;font-size:12px;background: 13px 5px no-repeat;}
#nav li ul.child_area li a:link,#nav li ul.child_area li a:visited{display:block;line-height:25px;width:100%;color:#454545;}
#nav li ul.child_area li a:hover{color:#197cce;background:#fff;text-decoration:none;}

#nav li ul.child_area li ul li{border:0;}
#nav li ul.child_area li ul li h4{text-align:left;padding-left:42px;font-size:12px;background: 30px 9px no-repeat;}
